<!DOCTYPE html>
<html lang="en">
   <head>
    <!--Create a title-->
       <title>Create Page</title>

       <!--Description of this webpage-->
       <meta name="description" content="CPS630 A1 create.html">

       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <meta charset="utf-8">

       <!--FavIcon-->
       <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/9/90/TMU_Bold_Logo.svg/250px-TMU_Bold_Logo.svg.png">

       <!--Link the appropriate css file-->
       <link rel="stylesheet" href="css/create.css">
   </head>
   <body>
        <!--Title and description-->
        <header class="title">Create Events Page</header>
        <p>Here at TMU, we take pride in our campus and encourage our students to use it as much as they
            can. That is why we allow students to book various spaces around campus for free! Simply fill out
            the following form and the space is yours!
        </p>
        <div class="form-box">   
            <!--Form for all the necessary event information-->
            <form class="input-grid" id="eventForm">
                <!--Input box for the event name. Made it maximum 40 characters so it stays on one line in events.html-->
                <div>
                    <label class="input-text">Event Name:</label>
                    <input type="text" class="text-box" id="eventName" maxlength="40" required>
                </div>

                <!--Date-->
                <div>
                    <label class="input-text">Date:</label>
                    <input type="date" id="date" class="text-box" required>
                </div> 
    
                <!--Select box for the location-->
                <div>
                    <label class="input-text">Location:</label>
                    <select id="location" class="text-box" required>
                        <option>ILC Lounge</option>
                        <option>Kerr Hall Upper Gym</option>
                        <option>Kerr Quad</option>
                        <option>MAC Court</option>
                        <option>RAC Court 1</option>
                        <option>RAC Court 2</option>
                        <option>RCC</option>
                        <option>SCC</option>
                        <option>SLC Amphitheatre</option>
                        <option>TRSM Building</option>
                    </select>
                </div>
    
                <!--Start Time-->
                <div>
                    <label class="input-text">Start Time:</label>
                    <select id="startTime" class="text-box" required></select>
                </div>
    
                <!--End Time-->
                <div class="end-time-position">
                    <label class="input-text">End Time:</label>
                    <select id="endTime" class="text-box" required></select>
                </div>
    
                <!--Submit Button-->
                <div class="submit-format">
                    <input type="submit" class="submit-button">
                </div>
            </form>
        </div>

        <!--A division containing a grid from the class to display the various spaces that can be booked with description-->
        <div class="event-spaces-grid">
            <div>
                <h2>ILC Lounge</h2>
                <img src="https://www.torontomu.ca/content/dam/university-business-services/event-space-reservations/images/meeting-room-slider6.jpg" alt="Picture of the ILC Lounge">
                <p>
                    The ICL (International Living/Learning Centre) is one of TMU's three residence buildings.
                    What sets this building apart from the others is the lounge that is has on the first floor.
                    This lounge can be booked for events!
                </p>
            </div>
            <div>
                <h2>Kerr Hall Upper Gym</h2>
                <img src="https://tmubold.ca/images/2025/5/28/0D5A3677_ZsUFl.jpg" alt="Picture of the Kerr Hall Upper Gym">
                <p>
                    The Kerr Hall Upper Gym is one of the many gymnasiums that TMU has to offer. Unlike the 
                    RAC courts, the Kerr Hall Upper Gym is a triple gym, meaning it is composed of three 
                    smaller gymnasiums that can be separated by barriers. Due to this large space, its space
                    can be booked and used for anything from sports to career fairs!
                </p>
            </div>
            <div>
                <h2>Kerr Quad</h2>
                <img src="https://images.squarespace-cdn.com/content/v1/5b915520697a986a35b98805/1559065077683-ZZCJZH4KLD2H1ABZFAKR/Ryerson+University+Places+to+Picnic+Neary+Yonge-Dundas+Square.jpg" alt="Picture of Kerr Quad">
                <p>
                    The Kerr Quad is one of TMU's most popular outdoor spots. Surrounded by the Kerr Hall
                    building, the Kerr Quad is a green space that helps to bring life to the concrete that is 
                    Toronto. This space gets booked almost regularly, especially during frosh, to host concerts,
                    food vendors, and games!
                </p>
            </div>
            <div>
                <h2>MAC Court</h2>
                <img src="https://tmubold.ca/images/2024/1/25/0D5A2567.jpg" alt="Picture of the MAC Court">
                <p>
                    The MAC (Mattamy Athletic Centre) Court is the most popular court TMU has to offer. 
                    What was once Maple Leaf Garden, is now where TMU hosts many of their sports games including
                    basketball and volleyball. Lucky for students, this beautiful court can be more than just
                    looked at, as it can be booked for nearly any kind of event!
                </p>
            </div>
            <div>
                <h2>RAC Courts</h2>
                <img src="https://tmubold.ca/images/2021/7/28/RAC_1_Gym.jpg" alt="Picture of RAC Court">
                <p>
                    The RAC (Recreate and Athletic Centre) is one of TMU's two gyms on campus. Alongside 
                    regular workout equipment, the gym has two basketball courts that can be booked to play
                    different sports. Don't worry about equipment, if you book the court, we provide all of
                    the equiment!
                </p>
            </div>
            <div>
                <h2>RCC</h2>
                <img src="https://www.torontomu.ca/content/dam/the-creative-school-equipment-distribution-centre/facilities/multitrackcontrol.jpg" alt="Picture of RCC">
                <p>
                    The RCC (Rogers Communication Centre) is the home of the School of Journalism here at
                    TMU. With facilities from recording studios to photoshoot spaces, some of TMU's most
                    unique technology is showcased here. That being said, it is more this just on display
                    as it can be booked for your use!
                </p>
            </div>
            <div>
                <h2>SCC</h2>
                <img src="https://theeyeopener.com/wp-content/uploads/2020/02/SCC_RyanDioso.jpg" alt="Picture of SCC">
                <p>
                    The SCC (Student Campus Centre) is a great spot for students to relax, study, unwind, 
                    or even play some table tennis on our basement ping pong table. In addition, the main 
                    SCC space can be booked for events!
                </p>
            </div>
            <div>
                <h2>SLC</h2>
                <img src="https://www.torontomu.ca/content/dam/student-life-and-learning/slc/SLC107-min.jpg" alt="Picture of SLC">
                <p>
                    The SLC (Sheldon & Tracy Levy Student Learning Centre) is one of the largest, most popular
                    buildings on campus. It has 8 floors, each differently themed to students' needs. It also
                    contains a large space known as the amphitheatre on the first floor that can be and is 
                    often booked out for events.
                </p>
            </div>
            <div>
                <h2>TRSM Building</h2>
                <img src="https://www.torontomu.ca/content/dam/tedrogersschool/trsm-images/2023-TRSM-building-exterior-1200x800.jpg" alt="Picture of TRSM">
                <p>
                    The TRSM (Ted Rogers School of Management) building is the home to all of the business
                    studnets here at TMU. Located nearly 200m from Sankofa Square, this space has many floors
                    with limitless potential to host any events that you have in mind!
                </p>
            </div>
        </div>

        <!--Button to return to the main menu-->
        <div class="back-to-page">
            <a href="/">
                <button type="submit" class="back-button">Back to Main Menu</button>
            </a>
        </div>

        <!--Inline Javascript to disable all dates before todays date-->
        <script>
            const date = document.getElementById("date");
            const today = new Date().toISOString().split("T")[0];
            date.min = today;
        </script>

        <!--Inline Javascript to populate the start/end time select tags-->
        <script>
            /* Create a function that takes in element id, the starting hour, ending hour, intervals that the
            minutes will increase by, and two booleans variables if you would like the times to start on
            30 instead of on the hour (e.g., start at 8:30 instead of 8:00) */
            function setTimes(id, startHour, endHour, minIntervals, startAtHalf, endAtHalf) {
                let html = '';                                          // Create html variable for innerHTML
                const select = document.getElementById(id);
                for(let hour = startHour; hour <= endHour; hour++) {    // First for loop increasing the hour by 1
                    for(let min = 0; min < 60; min += minIntervals) {   // double foor loop increasing the minutes by the interval
                        // Make sure if the user wants to start at half, increment by 30 first
                        if(hour === startHour && min === 0 && startAtHalf) {
                            min += 30
                        }
                        // Make sure the time ends on a half hour if necessary
                        if(hour === endHour && endAtHalf) {
                            break;
                        }
                        // Make sure the loop stops if it reaches the last time
                        if(hour === endHour && min > 0) {
                            break;
                        }
                        // Format hh and mm variables to then put in innerHTML
                        let hh =  hour.toString().padStart(2, '0');
                        let mm = min.toString().padStart(2, '0');
                        html += `<option>${hh}:${mm}</option>`;
                    }
                }
                select.innerHTML = html;
            }
            // Call the function twice, once for start time and once for end time
            setTimes("startTime", 8, 22, 30, false, true);
            setTimes("endTime", 8, 22, 30, true, false);

            const start = document.getElementById("startTime");
            const end = document.getElementById("endTime");
            const form = document.getElementById("eventForm");

            // Disable all of the prior times when a start time is selected by comparing their numerical time values
            start.addEventListener("change", () => {
                const startValue = Number(start.value.split(':').join(''));
                for(let time of end.options) {
                    time.disabled = Number(time.value.split(':').join('') <= startValue);
                }
            });

            // Disable all of the later times when an end time is selected by comparing their numerical time values
            end.addEventListener("change", () => {
                const endValue = Number(end.value.split(':').join(''));
                for(let time of start.options) {
                    time.disabled = Number(time.value.split(':').join('') >= endValue)
                }
            });
        
        </script>

        <!--Inline Javascript to send the event info from the form using POST-->
        <script>
            // get the event form using the id
            const eventForm = document.getElementById("eventForm");
            
            // Run the function e when the submit button is clicked
            eventForm.addEventListener("submit", async (e) => {

                // Make sure the page does not reload
                e.preventDefault();

                // Get each of the form elements using their ids
                const eventName = document.getElementById("eventName");
                const date = document.getElementById("date");
                const loc = document.getElementById("location");
                const start = document.getElementById("startTime");
                const end = document.getElementById("endTime");

                // Make sure the start time and the end time are not the same
                if(start.value == end.value) {
                    alert("Invalid Times: The start and end time of this event are the same");
                }
                // Make sure the start time is before the end time
                else if(start.value > end.value) {
                    alert("Invalid Times: The start time is after the end time of this event");
                }
                else{
                    // Send the POST request to the server
                    const response = await fetch("/api/events", {
                        method: "POST",
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify({
                            title: eventName.value,
                            date: date.value, 
                            location: loc.value, 
                            startTime: start.value, 
                            endTime: end.value
                        })
                    })
    
                    // If else statement notifying the user whether or not their reservation was successful.
                    if(response.ok) {
                        alert("Your event reservation has been made successfully!");
                    }
                    else {
                        alert("ERROR");
                    }
                }
            });

        </script>
   </body>
</html>