body {
  background-color: #FFD5C2;
  text-align: center;
  font-family: 'Gill Sans', sans-serif;
}

.title-box {
  color: #6a0b0b;
  background-color: #fbdbbc;
  border: 3px solid black;
}

.planner-box button {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border-color: #f4ecec;
  color: #f4ecec;
  background-color: #f87605;
}

.planner-box button:hover {
  border-color: #ac560a;
  color: #f87605;
  background-color: #f4ecec;
}

.events-box button {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border-color: #f4ecec;
  color: #f4ecec;
  background-color: #da35df;
}

.events-box button:hover {
  border-color: #8c0b90;
  color: #d314da;
  background-color: #f4ecec;
}

.options-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.planner-box {
  margin: 10px;
  color: #f4ecec;
  background-color: #F28F3B;
  border-radius: 20px;
  padding-bottom: 30px;
  box-shadow: 10px 10px #ac560a;
}

.events-box {
  margin: 10px;
  color: #f4ecec;
  background-color: #e64cec;
  border-radius: 20px;
  padding-bottom: 30px;
  box-shadow: 10px 10px #8c0b90;
}

.image-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

img {
  height: 300px;
  width: 325px;

}

figure {
  align-items: center;
  justify-content: center;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 3px solid black;
  font-size: 20px;
  background-color: white;
  box-shadow: 10px 10px #6a0b0b;
}

h3 {
  color: #6a0b0b;
}
